In [5]:
# This code is from https://stackoverflow.com/questions/62165172/convert-dly-files-to-csv-using-python
import glob
import csv
import os

# fields as given by the spec

fields = [
    ["ID", 1, 11],
    ["YEAR", 12, 15],
    ["MONTH", 16, 17],
    ["ELEMENT", 18, 21]]

offset = 22

for value in range(1, 32):
    fields.append((f"VALUE{value}", offset,     offset + 4))
    fields.append((f"MFLAG{value}", offset + 5, offset + 5))
    fields.append((f"QFLAG{value}", offset + 6, offset + 6))
    fields.append((f"SFLAG{value}", offset + 7, offset + 7))
    offset += 8

# Modify fields to use Python numbering
fields = [[var, start - 1, end] for var, start, end in fields]
fieldnames = [var for var, start, end in fields]

for dly_filename in glob.glob("USC00428922.dly", recursive=True): 
    path, name = os.path.split(dly_filename)
    csv_filename = os.path.join(path, f"{os.path.splitext(name)[0]}.csv")

    with open(dly_filename, newline='') as f_dly, open(csv_filename, 'w', newline='') as f_csv:
        csv = csv.writer(f_csv)
        csv.writerow(fieldnames)    # Write a header using the var names

        for line in f_dly:
            row = [line[start:end].strip() for var, start, end in fields]
            csv.writerow(row)

In [6]:
!ls

Lucy gets weather data.ipynb
README.md
USC00428922.csv
USC00428922.dly
ghcnd_all
ghcnd_all.tar.gz
lucy_cleans_historical_sl_data.ipynb
partially_cleaned_salt_lake_historical_data.csv
raw_salt_lake_historical_data.txt

In [7]:
df = pd.read_csv("USC00428922.csv")
df

,ID,YEAR,MONTH,ELEMENT,VALUE1,MFLAG1,QFLAG1,SFLAG1,VALUE2,MFLAG2,...,QFLAG29,SFLAG29,VALUE30,MFLAG30,QFLAG30,SFLAG30,VALUE31,MFLAG31,QFLAG31,SFLAG31
0,USC00428922,1913,12,TMIN,-39,NaN,NaN,6.0,-11,NaN,...,NaN,6.0,-133,NaN,NaN,6.0,-44,NaN,NaN,6.0
1,USC00428922,1913,12,TOBS,11,NaN,NaN,6.0,-9999,NaN,...,NaN,6.0,-9999,NaN,NaN,NaN,83,NaN,NaN,6.0
2,USC00428922,1913,12,PRCP,13,NaN,NaN,6.0,-9999,NaN,...,NaN,NaN,5,NaN,NaN,6.0,20,NaN,NaN,6.0
3,USC00428922,1913,12,SNWD,25,NaN,NaN,6.0,-9999,NaN,...,NaN,NaN,-9999,NaN,NaN,NaN,-9999,NaN,NaN,NaN
4,USC00428922,1914,1,TMAX,100,NaN,NaN,6.0,100,NaN,...,NaN,6.0,28,NaN,NaN,6.0,33,NaN,NaN,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3551,USC00428922,1990,2,SNWD,0,NaN,NaN,0.0,102,NaN,...,NaN,NaN,-9999,NaN,NaN,NaN,-9999,NaN,NaN,NaN
3552,USC00428922,1990,3,TMAX,150,NaN,NaN,0.0,-9999,NaN,...,NaN,NaN,133,NaN,NaN,0.0,-9999,NaN,NaN,NaN
3553,USC00428922,1990,3,TMIN,17,NaN,NaN,0.0,-9999,NaN,...,NaN,NaN,33,NaN,NaN,0.0,-9999,NaN,NaN,NaN
3554,USC00428922,1990,3,TOBS,83,NaN,NaN,0.0,-9999,NaN,...,NaN,NaN,128,NaN,NaN,0.0,-9999,NaN,NaN,NaN
3555,USC00428922,1990,3,SNWD,0,NaN,NaN,0.0,-9999,NaN,...,NaN,NaN,-9999,NaN,NaN,NaN,-9999,NaN,NaN,NaN